[2022-08-07 20:28] johndavis92790 opened #2 "Test ticket"

[2022-08-07 20:40] #2 closed, assigned to johndavis92790

[2022-08-07 20:50] johndavis92790 opened #4 "test"

[2022-08-07 20:57] #4 closed, assigned to nobody

[2022-08-08 01:04] johndavis92790 opened #6 "test"

[2022-08-08 01:10] #6 closed, assigned to nobody

[2022-08-08 01:12] johndavis92790 opened #8 "test12"

[2022-08-08 01:14] #8 closed, assigned to nobody

[2022-08-08 02:34] johndavis92790 opened #10 "Create basic api setup"

[2022-08-08 02:34] johndavis92790 opened #11 "Create getRestaurant api call"
Use the place_id to make the api call

[2022-08-08 02:35] johndavis92790 opened #12 "Create single restaurant result page"
-Heart icon for favoriting a restaurant
-Dollar icon for listing average price of a restaurant
-Photos, selection of photos feed (show limited amount of photos, default most recent, click see all to view full feed on separate component or page TBD)
-Reviews, selection of reviews (default sort  by recent)
-Map it, hyperlink address on google maps
-Phone number, tel hyperlink

Other:
change styles t

[2022-08-08 02:37] johndavis92790 opened #13 "Create restaurant search results component"
Use `getRestaurants()` api call, dummy info is setup and the api call works! Matthew already made a super basic version of this. You just need to add a few things and wire it up to the API data.

[2022-08-08 02:37] johndavis92790 opened #14 "Create restaurant advanced search page"
Just build the basic front end inputs for now, we will build the functionality in other tickets.

[2022-08-08 02:37] johndavis92790 opened #15 "Create basic React Router setup with basic navbar"

[2022-08-08 02:37] johndavis92790 opened #16 "Create homepage with basic elements"

[2022-08-08 23:45] Kimberly-Rodriguez opened #17 "clean the landing page code and crate a component"

[2022-08-09 00:42] johndavis92790 opened #18 "Setup GCP with frontend and backend servers"

[2022-08-09 03:35] suvarna18 opened #19 "Make a list of specific front-end components"

[2022-08-09 03:36] suvarna18 opened #20 "Create Technical Document (old ticket - Create a list of pages)"
- How the proposed product is going to behave
- What it can and can’t do
- How it’s going to be developed
- All systems that are going to be used/changed/created to assist development, security measures for data privacy
- The plan for rollout and rollback if necessary
- Business-related metrics
- Support and maintenance plans
-
References

- https://stackoverflow.blog/2020/04/06/a-practical-guide-

[2022-08-10 18:51] #10 closed, assigned to johndavis92790

[2022-08-10 18:55] johndavis92790 opened #22 "Setup basic heroku site for temporary fix until GCP is setup"

[2022-08-11 00:36] robyng commented on #20
Home / Welcome to Eat Healthy App / Search bar

Map View

Search Results

Restaurant Page

404 page

------------------------> below pages part of MVP?

Login

Sign up

User Dashboard

List of Reviews

Write Review

Claimed Restaurant

Update Restaurant

How to use the App walkthrough

My List of restaurants - favorite a restaurant

[2022-08-11 01:01] Kimberly-Rodriguez opened #23 "Testing"
aihoiahfihoefa[0ie0ur[

[2022-08-11 01:11] robyng opened #24 "404 page"

[2022-08-11 01:16] PaulWGeorge opened #25 "Create GCP Project with new email"

[2022-08-11 01:28] PaulWGeorge commented on #25
Made the project https://console.cloud.google.com/home/dashboard?authuser=3&organizationId=0&project=healthy-eating-project-359101

The email for login is our healthy eating email.

[2022-08-11 01:29] #25 closed, assigned to PaulWGeorge

[2022-08-11 01:29] Kimberly-Rodriguez opened #26 "Add calories to menu options"

[2022-08-11 01:32] robyng commented on #14
Robyn
Input:
1, location browser location / GPS location "My Location" or type city, state, zip, component will convert to lat and long - REQUIRED
2. Keyword (thai, bbq, gluten free, vegan, etc) - OPTIONAL
3. Radius to location 10 mi, 25 mi, etc convert to meters backend - OPTIONAL
4. min price and max price $ $$ $$$ $$$$ (integers 1-4 on both, max cannot be lower than min) - OPTIONAL
5. Open now?

[2022-08-14 03:30] PaulWGeorge opened #27 "Research creating app in GCP"

[2022-08-14 03:42] PaulWGeorge commented on #27
Reading up documentation on app engine in gcp about environments: https://cloud.google.com/appengine/docs/the-appengine-environments

We know the language is node.js, and I downloaded the cloud sdk.

[2022-08-14 04:10] PaulWGeorge commented on #27
Standard environment seems appropriate. It is for more of a sandbox like ours to start and can scale to zero instances when not in use. Best part is that it is intended to be run for free or low cost which is what we are shooting for.

Flexible is for a bigger scale app that has constant traffic. It also uses docker files which are great, but we need to start simple.

[2022-08-14 04:18] PaulWGeorge commented on #27
Here is the pricing for app engine beyond free tier: https://cloud.google.com/appengine/pricing#standard_instance_pricing

And here is the quotas for remaining free: https://cloud.google.com/appengine/quotas

Most important bit with frontend and backend hours:

![Image](https://user-images.githubusercontent.com/88292917/184522285-b98575ee-a30a-4718-a72c-751398a275ef.png)

And here is the pricing c

[2022-08-14 20:49] PaulWGeorge commented on #27
Great list of resources on google for app engine standard environment with node.js: https://cloud.google.com/appengine/docs/standard/nodejs

[2022-08-14 22:03] PaulWGeorge commented on #27
Steps:

1. install cloud sdk
2. clone repo
3. cd into repo
4. npm install
5. npm run build
6. rm all new folders created in client except for build
![Image](https://user-images.githubusercontent.com/88292917/184555224-8b67e41c-14fa-4080-8b36-c29452a419d5.png)
8. create app.yaml file and add "runtime: nodejs14" and "instance_class: F1" to the top
9. enable billing
10. enable cloud build api
11. gcl

[2022-08-14 22:11] PaulWGeorge commented on #27
App Engine service: https://console.cloud.google.com/appengine/services?authuser=3&project=healthy-eating-project-359101

Cloud builds: https://console.cloud.google.com/cloud-build/builds;region=us-central1?project=healthy-eating-project-359101&authuser=3&supportedpurview=project

Cloud storage: https://console.cloud.google.com/storage/browser?serviceId=default&versionId=20220814t165923&authuser=3

[2022-08-15 15:48] #15 closed, assigned to MatteoThomas

[2022-08-15 15:48] #16 closed, assigned to MatteoThomas

[2022-08-16 01:31] PaulWGeorge commented on #27
After another deploy, app.yaml can (and should) be placed in the main folder alongside the server and the frontend (otherwise it only uploads the client). After redeploying, the build is much bigger (282 MB vs 3.2 MB) which implies it uploaded everything from the frontend and the backend.
![Image](https://user-images.githubusercontent.com/88292917/184779537-79f1390e-1143-425d-824e-fc643c61c74c.png

[2022-08-16 02:24] PaulWGeorge opened #29 "Connect github repo to GCP"

[2022-08-16 02:25] PaulWGeorge opened #30 "Get version of app running in app engine"

[2022-08-16 02:26] PaulWGeorge commented on #29
https://cloud.google.com/build/docs/automating-builds/github/build-repos-from-github

[2022-08-17 18:22] johndavis92790 opened #33 "Convert getRestaurants api call to dummy data to conserve Google api calls"
Setup the getRestaurants() api call to serve testSeeds file in server to serve up dummy results.

[2022-08-17 18:30] johndavis92790 opened #35 "Convert Matthews js files to tsx files"

[2022-08-17 18:33] johndavis92790 opened #36 "Documentation on creating a basic frontend/backend GCP instance"
Create new doc in wiki explaining the steps that are necessary to create the basic GCP structure

[2022-08-17 18:37] #33 closed, assigned to johndavis92790

[2022-08-17 22:50] PaulWGeorge commented on #27
The app is working! I took out the handlers from app.yaml
![Image](https://user-images.githubusercontent.com/88292917/185257141-2dfa76c7-8af9-4abd-a23e-9b356370f29b.png)

[2022-08-17 23:47] johndavis92790 opened #37 "Add styled-components to package.json for develop branch"

[2022-08-17 23:54] #37 closed, assigned to johndavis92790

[2022-08-18 00:28] #35 closed, assigned to MatteoThomas, johndavis92790

[2022-08-18 00:42] robyng opened #39 "React vs React Native"
Is react native able to be used in regular browser? Knowing we eventually want to make an a

[2022-08-18 00:54] #27 closed, assigned to PaulWGeorge

[2022-08-18 00:55] PaulWGeorge opened #40 "Debug version 20220817t192023 on GCP for App Engine new deploy"

[2022-08-18 02:18] robyng opened #41 "Is our develop appspot being indexed by search engines?"
Is our develop live link being indexed by google? Do we need to add 301 to the develop live url? I don't want to happen to us what happened to this guy. https://stackoverflow.com/questions/7315003/appspot-com-url-shows-up-in-google-search-results-instead-of-custom-domain-name[#41](https://github.com/Healthy-Plate-Project/Healthy-Eating-App/issues/41)

[2022-08-18 14:47] johndavis92790 commented on #41
We already have this in our build file, Google does listen to this setting, so no need to do anything right now. We will need to remove this setting for our production version eventually but no need right now.
http://www.robotstxt.org/robotstxt.html

[2022-08-18 14:47] #41 closed, assigned to robyng, johndavis92790

[2022-08-18 14:52] johndavis92790 commented on #29
We need to connect this instance to the `main` branch, then create a second instance that is connected to the `develop` branch. I created a second `yaml` file called `demo.yaml` that will be used for the `develop` branch. You use `npm run deploy` for `app.yaml` and run `npm run demoDeploy` for `demo.yaml`. Both branches need to auto build and deploy when new changes are pushed to the branches.

[2022-08-18 14:52] johndavis92790 commented on #22
Got GCP working so no need for this

[2022-08-18 14:52] #22 closed, assigned to johndavis92790

[2022-08-18 14:55] johndavis92790 commented on #39
React native is specifically for mobile apps, so we would need to fork off our repo to create a new one and then we would have to keep two repos updated, one for the web, one for the mobile app. It would be much easier to wait until we have a "production" level app before we do this to limit how much work it will be to split and convert.

[2022-08-18 14:56] johndavis92790 commented on #20
Please create new tickets for things like this, not just a list. You can assign a ticket to someone, you can't really do that with this.

[2022-08-18 14:58] johndavis92790 commented on #18
First version is done!
https://healthy-eating-project-359101.uc.r.appspot.com/

[2022-08-18 14:58] #18 closed, assigned to johndavis92790

[2022-08-18 14:59] johndavis92790 commented on #12
Will post here the json data that we will get from google when that has been tested.

[2022-08-18 15:02] johndavis92790 opened #42 "Create location input field for search page"

[2022-08-18 15:04] johndavis92790 commented on #42
Needs to be able to intake any sort of location (zip code, city, state, address, browser gps location) and convert it into lat & long strings. Will post code snippets in here that will help this component later

[2022-08-18 15:49] suvarna18 commented on #20
@John, does it make sense to also have a technical specification document?
Basically to capture the technical & development details. Something that
will be helpful for the development team.

Hope it's not unnecessary work. And if it makes sense then we need to check
with the team who would like to take this task of creating and capturing
tech details.

On Thu, Aug 18, 2022 at 7:57 AM John W. Davis

[2022-08-18 15:58] johndavis92790 commented on #20
Sure we can do that, just not sure what you mean by technical and development details though. I already made a couple pages in the wiki detailing the steps for most of the development process. What else do you want in these? I'm not saying that we don't need more info in there, just wondering what exactly you're talking about.

[2022-08-18 16:10] suvarna18 commented on #20
So in the wiki details also mention the technology and tools we are using
with the versions?

Regarding the technical spec document I think we can do it later when (if)
we want to launch the app.Basically, something that covers below points:

   - How the proposed product is going to behave
   - What it can and can’t do
   - How it’s going to be developed
   - All systems that are going to be used

[2022-08-18 16:23] johndavis92790 commented on #20
Oh I see, ya we can do that. Some of that info will go into the readme file eventually. But some of that, we won't want in the readme and would be a great candidate for what you are talking about. Go ahead and change this ticket to be about creating the tech doc in the wiki that you're talking about. Also, go ahead and create a new ticket for each these pages listed in this ticket for use to start

[2022-08-18 16:32] suvarna18 commented on #20
Sure will do by tonight 👍

On Thu, Aug 18, 2022 at 9:23 AM John W. Davis ***@***.***>
wrote:

[2022-08-18 16:36] johndavis92790 commented on #40
Can you post a link on here to see these instances on GCP?

[2022-08-18 16:46] johndavis92790 commented on #42
[code]

[2022-08-18 16:57] johndavis92790 commented on #14
The open now should just be a radio checkbox, on or off.

[2022-08-18 17:01] johndavis92790 commented on #14
Functions to convert miles to meters and vise versa:
[code]

Utility functions like this should live in the `utils` directory, either in the `helpers.tsx` file or in its own file depending on the complexity or scope.

UPDATE - Added!

[2022-08-18 17:06] johndavis92790 commented on #14
The ability to search by address, zip code, etc will be done with the Google Geocoding API:
https://developers.google.com/maps/documentation/geocoding/start

We should also add the Google Place Autocomplete API to the input field, would be super intuitive:
https://developers.google.com/maps/documentation/places/web-service/autocomplete

[2022-08-18 17:08] johndavis92790 commented on #42
The ability to search by address, zip code, etc will be done with the Google Geocoding API:
https://developers.google.com/maps/documentation/geocoding/start

We should also add the Google Place Autocomplete API to the input field, would be super intuitive:
https://developers.google.com/maps/documentation/places/web-service/autocomplete

[2022-08-18 17:08] johndavis92790 opened #43 "Create Google Geocoding API call for address location search"

[2022-08-18 17:09] johndavis92790 commented on #43
https://developers.google.com/maps/documentation/geocoding/start

[2022-08-18 17:10] johndavis92790 opened #44 "Add Google Places Autocomplete API call to location search"

[2022-08-18 17:10] johndavis92790 commented on #44
https://developers.google.com/maps/documentation/places/web-service/autocomplete

[2022-08-18 20:35] #11 closed, assigned to johndavis92790

[2022-08-23 00:26] suvarna18 opened #49 "Home / Welcome to Eat Healthy App / Search bar"

[2022-08-23 00:26] suvarna18 opened #50 "Map View"

[2022-08-23 00:27] suvarna18 opened #51 "Search Results"

[2022-08-23 00:28] suvarna18 opened #52 "Front end login page"

[2022-08-23 00:29] suvarna18 opened #53 "Front end sign up page"

[2022-08-23 00:29] suvarna18 opened #54 "End-User Dashboard"

[2022-08-23 00:29] suvarna18 opened #55 "List of Reviews"

[2022-08-23 00:30] suvarna18 opened #56 "Write Review"

[2022-08-23 00:30] suvarna18 opened #57 "Claimed Restaurant"

[2022-08-23 00:32] suvarna18 opened #58 "Update Restaurant"

[2022-08-23 00:32] suvarna18 opened #59 "How to use the App walkthrough"

[2022-08-23 00:32] suvarna18 opened #60 "Favorite restaurants page"

[2022-08-23 01:25] johndavis92790 commented on #57
Not sure what this means? Like for the restaurant owner?

[2022-08-23 01:25] johndavis92790 commented on #58
Is this for the restaurant owner?

[2022-08-23 01:28] johndavis92790 commented on #56
This can initially just be a simple input page to input a name(text), special diet of choice(dropdown menu), rating(1-5 stars) and message. We can integrate it with logged in users later. We can also add photo upload later. We need to also send a userId to make that association.

[2022-08-23 01:29] johndavis92790 commented on #54
This should not be for a restaurant owner, only end-users,

[2022-08-23 01:30] suvarna18 commented on #58
Need to get details from Robyn. Can discuss and update the ticket during
design meeting

On Mon, Aug 22, 2022 at 6:25 PM John W. Davis ***@***.***>
wrote:

[2022-08-23 01:32] johndavis92790 commented on #56
We should save the `place_id` that we get from Google to reference the restaurant to the reviews that are left on our site. This will need to check if this restaurant has already been saved or not, that api call will be called: `saveRestaurant()`.

Then once the restaurant has been saved in our database or is already found, we will need to save the review, I will name this api call as: `saveReview

[2022-08-23 01:33] johndavis92790 commented on #55
This should display a small card with the rating number, first name or username and the first few words of their review. We could also add a small thumbnail of the photo left with the review and if it doesn't have a review to show a small logo or something.

[2022-08-23 01:36] johndavis92790 commented on #60
Similar to the results page, but does a api call just based on restaurants that are favorited. I will name the api call for this: `getFavRestaurants()`

[2022-08-23 01:36] johndavis92790 opened #61 "Create FavRestaurants api calls"
Create the following api calls using the `user_id` and `place_id` data points:
- `saveRestaurants()`
- `getFavRestaurantsByUser()`
- `deleteFavRestaurantByUser()`

[2022-08-23 01:39] johndavis92790 commented on #50
I am not sure if Google maps offers this type of api call, I will do more research on this, I know Mapbox does so that will be our last resort.

[2022-08-23 01:45] johndavis92790 opened #62 "Create saveReview, updateReview and deleteReview api calls"
There will be a `star_rating` for each type of special diet and a written `review` also. We need to associate the review with the `user_id` also

[2022-08-23 01:45] johndavis92790 opened #63 "Create saveRestaurant() api call"
We should save any info that we want to display on the My Favorites page for each restaurant to save the amount of api calls that we make with Google.

place_id, restaurant name, location, small logo or photo, category

[2022-08-23 01:47] johndavis92790 commented on #51
This ticket already exists in #13

[2022-08-23 01:47] #51 closed, assigned to nobody

[2022-08-23 01:49] johndavis92790 commented on #52
We will determine the security features and api calls in other tickets, this is just for a front end page that is accessible by the navbar

[2022-08-23 01:50] johndavis92790 commented on #53
Very similar to the front end login page, api calls will be created later.

[2022-08-23 01:51] johndavis92790 commented on #49
Already created a basic homepage, what else should we add to this?

[2022-08-23 01:53] johndavis92790 commented on #12
@Kimberly-Rodriguez Use the `getRestaurant()` server call to get the dummy data. Its ready to go!

[2022-08-23 01:56] johndavis92790 opened #64 "Add miles and meters conversion functions to helpers.tsx"
`convertMetersToMiles()` & `convertMilesToMeters()`

[2022-08-23 02:07] johndavis92790 commented on #13
Should be a card that displays the restaurant name, distance from location, small logo or photo, icon to show if its a favorite or not, category, and some average ratings of either a single special diet that was chosen in the search page or all the different average ratings for all the special diets.

Will make an api call that will take an array of `place_id`'s and check each one if its favorited

[2022-08-23 02:13] johndavis92790 opened #66 "Create user based api calls and routes"
Routes needed: `register`, `login`, `logout` and `get_user`.
@PaulWGeorge What kind of security do you want to use? I have a little familiarity with jwt but I am open to anything.

[2022-08-23 02:21] johndavis92790 commented on #12
Need to display if this is a favorite or not for the specific user. Maybe just some kind of icon that turns yellow if it is and grey if its not? Will make api call to check if single restaurant is a favorite or not, this api call will be called: `checkIfFavorite()`

[2022-08-23 02:29] johndavis92790 opened #67 "Create checkFavRestaurantByUser() api call"
This will take params with the `placeId`' and a single `userId` and it will try and fine one by both params. It will return an object with the `place_id` marked as true or false.

[2022-08-23 02:31] johndavis92790 opened #68 "Create checkIfFavorite() api call"
This will check if a single restaurant is a favorite or not, returns boolean

[2022-08-23 03:23] #64 closed, assigned to johndavis92790

[2022-08-23 04:46] robyng commented on #49
We can add some descriptive text on what to search for. Explain more what the app is about.... Search by location. Find your next favorite vegan restaurant.... search keyword "vegan". Or some tagline for the idea.

[2022-08-23 15:49] robyng commented on #41
Where is it in the build file? Is it a robots.txt? Can you screenshot it or tell me how I can view it? Thanks @johndavis92790

[2022-08-23 16:07] robyng commented on #56
Okay I'm going to start with star reviews

[2022-08-23 16:07] robyng commented on #56
Okay I'm going to start with star reviews

[2022-08-23 16:17] robyng opened #70 "serve 404 status for NotFound component"
Status is 200 when NotFound shows. need to set a status to 404 and tie in with server. More info here https://stackoverflow.com/questions/36052604/how-to-let-react-router-respond-with-404-status-code

[2022-08-23 16:24] robyng commented on #56
following this for accessibility https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons

[2022-08-23 17:46] johndavis92790 commented on #41
There is a robots.txt file that has that setting in the client/public directory. So when we setup our GCP to have development and production server instances, we will turn that off on the production instance and keep it on in the develop instance. But that's down the line, no need to worry about it now.

[2022-08-23 23:11] #24 closed, assigned to robyng

[2022-08-24 03:00] #63 closed, assigned to johndavis92790

[2022-08-25 00:44] robyng opened #73 "update typescript target"

[2022-08-25 00:44] robyng commented on #73
target es6

[2022-08-25 01:04] #73 closed, assigned to robyng

[2022-08-25 01:18] johndavis92790 opened #75 "Parse out data from promise objects from the server calls"

[2022-08-28 18:56] PaulWGeorge commented on #40
https://console.cloud.google.com/appengine/versions?serviceId=default&versionId=20220815t221214&authuser=3&organizationId=0&project=healthy-eating-project-359101

[2022-08-28 18:56] PaulWGeorge commented on #40
https://console.cloud.google.com/appengine/versions?serviceId=default&versionId=20220815t221214&authuser=3&organizationId=0&project=healthy-eating-project-359101

[2022-08-28 19:11] PaulWGeorge commented on #40
New version "20220828t140542" updated from newest version on Github. Works!

[2022-08-28 19:11] #40 closed, assigned to PaulWGeorge

[2022-08-28 19:51] PaulWGeorge commented on #36
wiki created: https://github.com/Healthy-Plate-Project/Healthy-Eating-App/wiki/How-to-set-up-GCP-frontend-backend-instance

[2022-08-28 19:55] PaulWGeorge commented on #36
@johndavis92790 If this looks good to you we will close this story.

[2022-08-28 21:36] PaulWGeorge commented on #29
I am connecting the repo to GCP. I will need to add the app email account.

So I made a github with that email. I need Kimberly to sign off and give access to account for github access. Then I can proceed.

[2022-08-28 21:38] PaulWGeorge commented on #29
This will allow me to download cloud build on the repo:

![Image](https://user-images.githubusercontent.com/88292917/187095536-84e46e3e-ab32-48a0-9e8d-cfe6e57432e9.png)

I will not do it on personal repo for account. I will do it on the app page once I get permission

[2022-08-29 00:28] johndavis92790 commented on #29
I have admin access to the github too, it's not longer only under Kimberly's control, I will try and get to that tonight. I will also setup you to have admin access as well to the repo.

[2022-09-01 00:28] johndavis92790 opened #77 "Add nav button for login page"

[2022-09-06 21:42] #52 closed, assigned to Darolo13

[2022-09-07 23:59] PaulWGeorge commented on #29
These helped:
https://cloud.google.com/build/docs/automating-builds/github/build-repos-from-github
https://cloud.google.com/build/docs/automating-builds/github/connect-repo-github

Should be connected. I created triggers for both main and develop. Just need to test.

[2022-09-08 00:12] johndavis92790 commented on #29
@PaulWGeorge  Can you also create step by step instructions for setting up an instance like these also? Thanks!

[2022-09-08 00:19] PaulWGeorge commented on #29
@johndavis92790 Do you mean a guide for creating the triggers and setting up the cloud build repo connection?

[2022-09-08 00:34] PaulWGeorge opened #81 "Create running Triggers in cloud build for dev and main"

[2022-09-08 00:36] PaulWGeorge opened #82 "Create documentation for wiki page on repo connection gcp"

[2022-09-08 00:36] #36 closed, assigned to PaulWGeorge

[2022-09-08 00:40] PaulWGeorge commented on #81
Current issue for trigger to solve:

![Image](https://user-images.githubusercontent.com/88292917/189008688-6fcca14d-de19-4894-8c3f-1bfd9d9b82b2.png)

[2022-09-08 20:18] johndavis92790 opened #85 "Create saveFavRestaurant() api call"
This will create an association between the `place_id` and the `user_id`.

[2022-09-11 19:07] #29 closed, assigned to PaulWGeorge, johndavis92790

[2022-09-11 19:08] PaulWGeorge opened #86 "Create human readable version numbering for gcp app engine auto deployments"

[2022-09-11 19:58] PaulWGeorge commented on #81
Remaking a new config file for deploy: https://cloud.google.com/build/docs/deploying-builds/deploy-appengine

[2022-09-11 21:59] PaulWGeorge commented on #81
Something is up with logging in cloud build:
![Image](https://user-images.githubusercontent.com/88292917/189550623-2d744f85-a006-4a6e-a6c3-7af3786373a4.png)

[2022-09-11 22:00] PaulWGeorge commented on #81
Will try to add service account api to be enabled:

![Image](https://user-images.githubusercontent.com/88292917/189550645-062c7e20-60f3-4b3b-964f-674b7427186e.png)

[2022-09-11 22:02] PaulWGeorge commented on #81
I do not need to make new credentials:

![Image](https://user-images.githubusercontent.com/88292917/189550677-25c68120-8a3f-4a61-8e23-122b6751d4e2.png)

[2022-09-11 22:05] PaulWGeorge commented on #81
Disabled the gcp api since it did not fix anything.

[2022-09-11 22:06] PaulWGeorge commented on #81
Seems like service account for cloud build should be able to create the logs:

![Image](https://user-images.githubusercontent.com/88292917/189550815-bc5755ce-e755-40d9-aa14-5a2c8008e4b2.png)

[2022-09-12 00:06] johndavis92790 commented on #29
Yes that would be great. It would just be very helpful for everyone else if they knew the basics to this GCP stuff in this context since online videos and documentation are not that helpful haha. Thanks Paul!

[2022-09-12 01:48] robyng opened #87 "Rework Global styles"

[2022-09-12 01:49] robyng commented on #87
global styles for App that sets the background color gray needs to be reworked. On longer pages white space shows. The height is currently set to 100vh, I thought it should be 100% but then that messes up styles on home page. Want to work with matt on this.

[2022-09-12 03:17] #56 closed, assigned to robyng

[2022-09-12 04:56] PaulWGeorge commented on #81
Documentation on deploying to app engine using cloud build: https://cloud.google.com/build/docs/deploying-builds/deploy-appengine

I added two roles to the google cloud build service account:

![Image](https://user-images.githubusercontent.com/88292917/189576695-e9d09fc4-b309-439c-b217-58cf5ed7afef.png)

[2022-09-12 04:58] PaulWGeorge commented on #81
Current service account permissions:

![Image](https://user-images.githubusercontent.com/88292917/189576896-9021ef24-ff2c-4d89-af0c-c809b8bfdb52.png)

[2022-09-12 05:15] PaulWGeorge commented on #81
Attempting to run trigger gives me this:

![Image](https://user-images.githubusercontent.com/88292917/189578537-2ba6d0b1-3f85-46d5-ac1c-934e19bb4594.png)

[2022-09-12 05:17] PaulWGeorge commented on #81
Enabling IAM API:

![Image](https://user-images.githubusercontent.com/88292917/189578741-11d4d0d6-6dfd-4e4a-9559-ba76ce493e8b.png)

[2022-09-12 05:21] PaulWGeorge commented on #81
Trigger finally runs, but another API needs to be enabled:

![Image](https://user-images.githubusercontent.com/88292917/189579223-969d1a8a-f806-4032-9aa8-f4cd0ea12152.png)

[2022-09-12 05:22] PaulWGeorge commented on #81
This is the API I am enabling:

![Image](https://user-images.githubusercontent.com/88292917/189579286-6d246d6f-6f82-4875-9cf5-cac969eb48a5.png)

[2022-09-12 05:33] PaulWGeorge commented on #81
Github check  passed:

![Image](https://user-images.githubusercontent.com/88292917/189580151-1de11661-507c-4d30-a779-c1da506f7d23.png)

Cloud Build executed with success:

![Image](https://user-images.githubusercontent.com/88292917/189580221-0c1f6f28-c553-4e23-9062-e4bb73caf007.png)

App Engine successfully ran the repo contents:

![Image](https://user-images.githubusercontent.com/88292917/1895803

[2022-09-13 01:42] johndavis92790 opened #89 "Rework Result & Results files"
Most of the files, function names and variable names in these directories are named in a confusing manner. Like `ResultsStyles.tsx` and `ResultStyled.tsx`. I think we should use "search" in these names since these are all going to be used in the search function, like `SearchResult.tsx`. I think we should use the words "Single Result" in the directory and files for a single result after you select

[2022-09-13 01:52] #55 closed, assigned to MatteoThomas

[2022-09-13 01:57] johndavis92790 opened #90 "Create review API calls"
We need a `createReview`, `updateReview`, `deleteReview`, `getReview`, `getReviewsByUser` and `getReviewsByRestaurant`.

[2022-09-13 02:53] #62 closed, assigned to johndavis92790

[2022-09-13 02:54] johndavis92790 commented on #90
There will be a `star_rating` for each type of special diet and a written review also. We need to associate the review with the `user_id` also

[2022-09-13 04:07] #75 closed, assigned to johndavis92790

[2022-09-14 03:56] PaulWGeorge commented on #81
Still getting the same errors, and I have reached a blocker:
This is the link to the version page: https://console.cloud.google.com/appengine/versions?serviceId=default&versionId=20220912t052449&authuser=3&project=healthy-eating-project-359101

This is the build page: https://console.cloud.google.com/cloud-build/builds;region=us-central1?project=healthy-eating-project-359101

This is for logs expl

[2022-09-14 03:56] PaulWGeorge commented on #81
@johndavis92790  Can you take a look at this "Cannot Get /" error and let me know if you have any ideas? I just need another pair of eyes on this. Thanks!

[2022-09-14 04:09] johndavis92790 commented on #81
@PaulWGeorge What is the exact url that you are trying to access when getting the "Cannot Get /" error?

[2022-09-14 04:12] PaulWGeorge commented on #81
Should be the exact one that the client is trying to access locally when it runs the app

[2022-09-14 04:15] johndavis92790 commented on #81
Sorry I am not at my computer so I can't really see or do anything other than what's on github right now. I'm pretty sure I know what the problem is but I can't test my theory right now. Just paste the entire url from the address bar in your browser when you get the error into this chat, then I can tell you if my theory is correct or if it's something else.

[2022-09-14 04:18] PaulWGeorge commented on #81
This is the url for the address: https://healthy-eating-project-359101.uc.r.appspot.com/

[2022-09-14 04:20] johndavis92790 commented on #81
Ok try removing the "/" at the end of the url and press enter.

[2022-09-14 04:21] PaulWGeorge commented on #81
Oh weird it is not in the address but it is when I paste it

[2022-09-14 04:24] johndavis92790 commented on #81
Ya thats a browser thing, I think our app routing code is not written correctly. I will check it out and push some changes to the develop branch. Give me a few mins

[2022-09-14 04:26] PaulWGeorge commented on #81
All good. Has it been working on local builds?

[2022-09-14 04:30] johndavis92790 commented on #81
Yes these things run differently on local versus from the server. I just pushed new changes to the develop branch, let me know if that works.

[2022-09-14 04:30] PaulWGeorge commented on #81
I will run that on my branch

[2022-09-14 04:31] johndavis92790 commented on #81
Wait I thought these triggers are connected to the develop branch?

[2022-09-14 04:32] johndavis92790 commented on #81
You are probably going to run into a bunch of merge conflicts if you try and pull from develop into your own branch

[2022-09-14 04:33] PaulWGeorge commented on #81
I already solved the merge conflicts a while ago and resolved them. No worries. I just have one file I needed

[2022-09-14 04:33] PaulWGeorge commented on #81
The trigger is connected to develop but it does not have my config file I made. I will push that to develop once I get this working

[2022-09-14 04:34] johndavis92790 commented on #81
Ok cool, I only changed two lines of code in the `App.tsx` file

[2022-09-14 04:44] PaulWGeorge commented on #81
Same error unfortunately

[2022-09-14 04:44] johndavis92790 commented on #81
Ok, hold on a sec

[2022-09-14 04:45] PaulWGeorge commented on #81
On my local branch when I do "npm run develop"  I get this when testing local:

![Image](https://user-images.githubusercontent.com/88292917/190061665-26752961-b1e3-4fea-beb9-ff99561e6ef4.png)

[2022-09-14 04:49] johndavis92790 commented on #81
That is a different issue, the merge conflicts were probably not merged correctly. I just pushed new changes again to develop. This will be easier if the develop branch had that config file, can you push email me that file so I can push it directly to develop? Its ok if it doesn't work, no one is using that branch yet anyways

[2022-09-14 04:49] johndavis92790 commented on #81
johndavis92790@gmail.com

[2022-09-14 04:50] PaulWGeorge commented on #81
I will just do a PR to develop with my file in a minute

[2022-09-14 04:50] johndavis92790 commented on #81
Well do a PR from your own branch into develop. Only push into your own branch, do not push into develop directly.

[2022-09-14 04:53] PaulWGeorge commented on #81
I have pushed mine. The file is called cloudbuild.yaml

[2022-09-14 04:56] johndavis92790 commented on #81
I can't see anything until you create a PR from that push, just go to the "Pull Requests" tab in the main github page for the repo., you should see a banner at the top to create a PR, follow the steps in the wiki.

[2022-09-14 04:57] johndavis92790 commented on #81
https://github.com/Healthy-Plate-Project/Healthy-Eating-App/wiki/Basic-development-steps
Follow step 10 and on.

[2022-09-14 05:05] PaulWGeorge commented on #81
So you do want me to do it for my branch to develop?

[2022-09-14 05:06] johndavis92790 commented on #81
You should only ever push into your own branch, it won't ever let you do it into develop anyways, it has protections turned on.

[2022-09-14 05:09] #66 closed, assigned to PaulWGeorge, johndavis92790

[2022-09-14 05:09] PaulWGeorge commented on #81
Right. I cannot do a PR from my branch into my own branch though

[2022-09-14 05:12] johndavis92790 commented on #81
Sorry I see why my comment was confusing, the PR is from your branch into develop. You should only push into your own branch in git locally, the merging into develop is done in the github cloud, not git locally. So once you have created the PR, then I can see the changes and go from there. I have updated that comment haha sorry

[2022-09-14 05:14] johndavis92790 commented on #81
I've got to go to bed now, I will take a look tomorrow, thanks for working on this!

[2022-09-14 05:20] PaulWGeorge commented on #81
Me as well. Thanks!

[2022-09-14 19:02] MatteoThomas commented on #87
I'll upload the new home page background image and start working on this today.

[2022-09-14 23:37] PaulWGeorge commented on #81
New error coming from develop:

![Image](https://user-images.githubusercontent.com/88292917/190281023-4bc6742f-dc4b-4922-b155-7a9778961561.png)

@johndavis92790

[2022-09-14 23:37] PaulWGeorge commented on #81
Error code 500 Server Error

[2022-09-15 00:40] PaulWGeorge commented on #81
How to create specific deployment for build: https://cloud.google.com/appengine/docs/flexible/nodejs/testing-and-deploying-your-app

[2022-09-15 00:53] PaulWGeorge commented on #81
![Image](https://user-images.githubusercontent.com/88292917/190288045-259c184f-1e7a-4709-998f-13d5f1afee0c.png)

The top line is not receiving traffic and from demo. This is great. We can still view it, but the public does not see it

[2022-09-15 00:59] #90 closed, assigned to johndavis92790

[2022-09-15 02:51] MatteoThomas commented on #87
I edited the HomeStyles and globalStyles files, and added a new background image in the home page component - pages/Home/index.tsx. This got rid of the white space.

[2022-09-21 20:05] #89 closed, assigned to MatteoThomas

[2022-09-21 20:09] #87 closed, assigned to robyng, MatteoThomas

[2022-09-22 00:18] MatteoThomas commented on #19
I added the list to the wiki.

[2022-09-22 00:18] #19 closed, assigned to MatteoThomas

[2022-09-22 00:22] MatteoThomas opened #99 "Fix Leave Review page styles"

[2022-09-22 00:24] PaulWGeorge opened #100 "Research Security for App"

[2022-09-22 00:32] MatteoThomas commented on #99
Make the leave a review component look good.

[2022-09-22 00:35] robyng opened #101 "$ dollar sign graphic for filter by price for search page"

[2022-09-22 00:37] johndavis92790 commented on #101
Similar to the star rating component, but needs to have a high and low, not just high. Like a row of 4 white dollar signs and if you click the 3rd one, it will turn the first 3 dollar signs green, then if you click the 2nd one, it will turn the first one back to white and then the `min_price` would be 2 and the `max_price` would be 3. I will write an algorithm to handle this to determine which dol

[2022-09-22 00:44] johndavis92790 opened #102 "Wire up search input on main page to getRestaurants() with location only"

[2022-09-22 01:03] robyng commented on #12
Creating SingleRestaurant page

[2022-09-22 01:29] MatteoThomas opened #103 "Create logo"
Create three logo options, have vote for best one.

[2022-09-22 01:31] MatteoThomas opened #104 "Change props in Reviews to match with api call"

[2022-09-23 04:10] johndavis92790 opened #105 "Create a useContext"
To be able to have access to the incoming data and search params no matter where you are in the app. Maybe a cookie instead? Not sure how to use those.
- Use sessionStorage to keep the current search params and incoming data so you don't have to make an api call every time you look at a results page.
- You could save the results array with the associated page id from google to a specific paginatio

[2022-09-28 01:18] #53 closed, assigned to Darolo13

[2022-09-28 17:55] #102 closed, assigned to johndavis92790

[2022-09-28 17:59] MatteoThomas opened #108 "Convert imported buttons and inputs to html elements across app"
Convert all imported buttons and inputs to HTML elements from imported Styled Components.

[2022-09-28 18:13] MatteoThomas commented on #108
Convert existing buttons and inputs to just use classNames for styling so we can just have them "hardcoded" into our components and pages(for example: use `<button className="white-button">Test Name</button> rather than <Button content="Test Name" color="white"/>`.

[2022-09-28 23:37] PaulWGeorge commented on #100
Bcrypt is an ecryption method like sha1 or md5.

This is a side note of gcp security when we use app engine: https://cloud.google.com/appengine/docs/standard/nodejs/application-security

[2022-09-29 00:48] robyng opened #113 "Button and Input components to accept dynamic params ex. onClick funciton"

[2022-09-29 00:49] robyng commented on #113
https://stackoverflow.com/questions/71404724/handle-click-with-element-in-react-typescript

[2022-09-29 00:49] robyng commented on #113
https://bobbyhadz.com/blog/typescript-react-onclick-event-type

[2022-09-29 00:51] robyng opened #114 "Add Favorites Button to Single Result restaurant"

[2022-09-29 00:51] robyng commented on #114
Heart graphic, do same as stars

[2022-09-29 00:54] robyng opened #115 "Add Favorites list page"
John says: Exact same as search results page you just built, but the array is going to come from the `currentUser.fav_restaurants` useState in App.tsx

He also says to add a button to the navbar to access this page. I can show you how to only show this button when the user is logged in.

[2022-10-06 00:10] MatteoThomas opened #119 "Convert buttons to one reusable component"
Convert buttons back to reusable component with new code.

[2022-10-06 00:11] MatteoThomas opened #120 "Convert inputs to reusable components"

[2022-10-06 00:35] #108 closed, assigned to MatteoThomas

[2022-10-06 00:51] #14 closed, assigned to Darolo13, MatteoThomas

[2022-10-11 07:33] suvarna18 commented on #57
I just went ahead and created the tickets from the list that Robyn had
posted in ticket #20.

We can clarify and add details during the design meeting

On Mon, Aug 22, 2022 at 6:25 PM John W. Davis ***@***.***>
wrote:

[2022-10-13 00:42] #61 closed, assigned to johndavis92790

[2022-10-16 19:34] PaulWGeorge commented on #100
4 steps for login:
register, login, getting user, logging out

Register:
salting and hashing user's new password
adding user details to database like email, username, etc

Login:
search if username exists
if no user return 404
if user yes but password compare no then 400
if all good then store details as jwt
use cookie to authenticate

Getting User:
searching for jwt inside cookies
check if claim

[2022-10-17 16:35] MatteoThomas opened #123 "Add css variables / typography styles"

[2022-10-17 17:33] #123 closed, assigned to nobody

[2022-10-18 18:08] robyng commented on #12
@MatteoThomas @johndavis92790 Dang, the API call broke since last merge into develop. Pull 122 https://github.com/Healthy-Plate-Project/Healthy-Eating-App/pull/122

[2022-10-18 18:25] MatteoThomas commented on #12
Ok, I'll check it out

[2022-10-18 19:07] MatteoThomas commented on #12
What error are you getting? It seems to work for me?

[2022-10-18 19:58] robyng commented on #12
When I press Single Result in menu it was bringing in a restaurant, but no longer is now. There are a couple errors.
1. Failed to load resource: net::ERR_CONNECTION_REFUSED for the restaurant api
2. AxiosError code"ERR_NETWORK"

[2022-10-18 20:01] MatteoThomas commented on #12
I hate to ask, have you pulled recently?

[2022-10-18 20:16] robyng commented on #12
Yes I am up to date. Does test api call on home page work for you still?
I'll try on my other computer.

On Tue, Oct 18, 2022, 1:01 PM Matthew Elliott ***@***.***>
wrote:

[2022-10-18 20:21] robyng commented on #12
@MatteoThomas is working on my other computer now. Weird! Thanks for checking yours.

[2022-10-19 04:49] robyng commented on #101
SVG version

[2022-10-20 00:04] #12 closed, assigned to robyng

[2022-10-20 00:04] #101 closed, assigned to robyng

[2022-10-20 00:04] #114 closed, assigned to robyng

[2022-10-20 00:20] PaulWGeorge commented on #100
Passwords are not stored in the database, but since the hash is stored that will be checked against whatever the user puts in to try to authenticate. The answer to how they match is that the SALT IS STORED WITH THE HASH.

[2022-10-21 04:45] robyng opened #126 "Show pricing level as $ icons"

[2022-10-21 04:47] robyng commented on #126
Show 2 dollar icons if price_level is 2,  show 1 dollar icon for 1 price_level etc.
issue with repeating dollar sign when pressing heart button whoops! https://youtu.be/MVDy4hK5ZMs

[2022-10-27 00:33] #103 closed, assigned to MatteoThomas

[2022-10-27 00:35] robyng opened #127 "Show dollar sign based on api price_level"

[2022-11-02 15:03] #77 closed, assigned to robyng, Darolo13, MatteoThomas

[2022-11-03 00:41] robyng opened #130 "Custom styles for button and input"

[2022-11-03 00:43] robyng commented on #113
@MatteoThomas finished this

[2022-11-03 00:43] #113 closed, assigned to nobody

[2022-11-03 00:48] robyng commented on #115
API call to return restaurants from that id. - NO LONGER!!!!!!!!!

[2022-11-03 00:49] robyng commented on #115
Kim did search results page, copy front end here with new api call - SEE ABOVE COMMENT^^^^^^^^^^^^

[2022-11-03 00:50] robyng opened #131 "Create Wiki of MVP to more towards getting a public link"

[2022-11-10 01:58] robyng opened #133 "Setup Google API for photos"

[2022-11-10 01:59] robyng opened #134 "Create API call to sort results by diet"
Call to our api and sort search results in ascending order. Example: if category search is Gluten Free then sort our results based on our users rating high to low.

[2022-11-10 02:21] robyng opened #135 "change all index.tsx to name of parent like Header.tsx"
John says to delete all index.js component files and then use quick fix to create new file.

Example:  @johndavis92790  can you add an example so we are clear

[2022-11-17 01:23] #133 closed, assigned to johndavis92790

[2022-11-17 02:37] robyng opened #137 "add google reviews to single search result for now"
use google reviews until we get user reviews

[2022-11-17 02:38] robyng commented on #137
copy what you did for pulling in photos

[2022-11-17 02:39] #126 closed, assigned to robyng

[2022-11-17 02:40] robyng opened #138 "Style photos on single search result page"
John recommends getting the style on the  props to be close to the size we want instead of pulling down a large photo and then changing the size.
- Need to get  max-height and max-width to working again.
- make thumbnail size two rows of photos
- click on photo to open large version of photo and swipe through photos

[2022-11-17 23:20] johndavis92790 opened #139 "Fix serverCalls.tsx"

[2022-11-19 04:09] johndavis92790 opened #141 "Generate reviews dummy data"

[2022-11-20 23:33] johndavis92790 opened #144 "Fix missing <details> tag in NavBar.tsx."
I removed the `</details>` tag in `NavBar.tsx` because it was missing the beginning tag (`<details>`). Probably happened during a merge conflict. I will update the wiki steps on merge conflicts to include running the code to make sure it still works before committing.

[2022-11-20 23:40] johndavis92790 opened #145 "Update merge conflicts wiki page"
Update it to include running the code after the merges have been made, but before the commit so you can still fix something if it doesn't run.

[2022-11-21 04:09] #144 closed, assigned to MatteoThomas

[2022-11-21 04:11] #43 closed, assigned to johndavis92790

[2022-11-21 04:16] #139 closed, assigned to johndavis92790

[2022-11-21 04:18] #141 closed, assigned to johndavis92790

[2022-11-23 01:08] #119 closed, assigned to MatteoThomas

[2022-11-23 01:08] #120 closed, assigned to MatteoThomas

[2022-11-23 01:08] #130 closed, assigned to MatteoThomas

[2022-11-23 04:01] #145 closed, assigned to johndavis92790

[2022-11-23 04:01] johndavis92790 opened #148 "Create live app on Heroku"
I will create a new Heroku app connected to our github develop branch to be able to have a live link to use and show off. I am paying the $5 per month for my other apps and it does not cost extra to have this on my account. We will be limited to 1000 hours per month of dyno time, which I don't think we will come close to, but I could be wrong? I will keep an eye on my account to make sure we stay

[2022-11-23 04:05] johndavis92790 commented on #137
I think this should be named "Google Reviews" on the front end to tell the user where this rating is coming from.

[2022-11-23 04:06] #135 closed, assigned to MatteoThomas

[2022-11-23 04:14] johndavis92790 commented on #50
This is probably going to be a ton of work. Maybe there is an example app out there that I could borrow from?